text {
  font: 8px;
}

.enter {
  fill: green;
}

.update {
  fill: #333;
}

.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}